<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.product.mapper.BrandMapper">

    <!-- List<Brand> selectList(); -->
    <select id="selectList" resultType="com.okccc.eshop.model.entity.product.Brand">
        select * from brand where is_deleted = 0
    </select>
</mapper>