<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.product.mapper.ProductSkuMapper">

    <!-- List<ProductSku> selectListBySale(); -->
    <select id="selectListBySale" resultType="com.okccc.eshop.model.entity.product.ProductSku">
        select * from product_sku where is_deleted = 0 order by sale_num desc limit 10
    </select>
</mapper>