<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.product.mapper.ProductDetailsMapper">

    <!-- ProductDetail selectById(Long productId); -->
    <select id="selectById" resultType="com.okccc.eshop.model.entity.product.ProductDetail">
        select * from product_detail where product_id = #{productId}
    </select>
</mapper>