<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.product.mapper.ProductSkuMapper">

    <!-- List<ProductSku> selectListBySale(); -->
    <select id="selectListBySale" resultType="com.okccc.eshop.model.entity.product.ProductSku">
        select * from product_sku where is_deleted = 0 order by sale_num desc limit 10
    </select>

    <!-- List<ProductSku> selectPage(ProductSkuDto productSkuDto); -->
    <select id="selectPage" resultType="com.okccc.eshop.model.entity.product.ProductSku">
        select sku.*
        from product_sku sku
        left join product p on p.id = sku.product_id
        <where>
            <if test="keyword != null and keyword != ''">
                and sku.sku_name like CONCAT('%',#{keyword},'%')
            </if>
            <if test="brandId != null and brandId != ''">
                and p.brand_id = #{brandId}
            </if>
            <if test="category1Id != null">
                and p.category1_id = #{category1Id}
            </if>
            <if test="category2Id != null">
                and p.category2_id = #{category2Id}
            </if>
            <if test="category3Id != null">
                and p.category3_id = #{category3Id}
            </if>
            and p.status = 1
            and p.audit_status = 1
            and sku.is_deleted = 0
            and p.is_deleted = 0
        </where>
        <if test="order == 1">
            order by sku.sale_num desc
        </if>
        <if test="order == 2">
            order by sku.sale_price asc
        </if>
        <if test="order == 3">
            order by sku.sale_price desc
        </if>
    </select>
</mapper>