<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.manager.mapper.SysMenuMapper">

    <!-- List<SysMenu> selectList(); -->
    <select id="selectList" resultType="com.okccc.eshop.model.entity.system.SysMenu">
        select * from sys_menu where is_deleted = 0
    </select>

    <!-- void insert(SysMenu sysMenu); -->
    <insert id="insert">
        insert into sys_menu (parent_id,title,component,sort_value,status) values
        (#{parentId}, #{title}, #{component}, #{sortValue}, #{status})
    </insert>

    <!-- SysMenu selectById(Long parentId); -->
    <select id="selectById" resultType="com.okccc.eshop.model.entity.system.SysMenu">
        select * from sys_menu where id = #{parentId}
    </select>

    <!-- void updateById(SysMenu sysMenu); -->
    <update id="updateById">
        update sys_menu set
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="component != null and component != ''">
            component = #{component},
        </if>
        <if test="sortValue != null">
            sort_value = #{sortValue},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_time = now()
        where id = #{id}
    </update>

    <!-- int selectCountByParentId(Long id); -->
    <select id="selectCountByParentId" resultType="java.lang.Integer">
        select count(*) from sys_menu where parent_id = #{id} and is_deleted = 0
    </select>

    <!-- void deleteById(Long id); -->
    <update id="deleteById">
        update sys_menu set is_deleted = 1 where id = #{id}
    </update>

    <!-- List<SysMenu> selectListByUserId(Long userId); -->
    <select id="selectListByUserId" resultType="com.okccc.eshop.model.entity.system.SysMenu">
        <!-- 用户可能有多个角色,角色可能有多个菜单,所以查询结果要去重 -->
        SELECT DISTINCT t1.*
        FROM sys_menu t1
        JOIN sys_role_menu t2 ON t1.id = t2.menu_id
        JOIN sys_user_role t3 ON t2.role_id = t3.role_id
        WHERE t3.user_id = #{userId} AND t1.is_deleted = 0
    </select>
</mapper>