<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.manager.mapper.SysMenuMapper">

    <!-- List<SysMenu> selectList(); -->
    <select id="selectList" resultType="com.okccc.eshop.model.entity.system.SysMenu">
        select * from sys_menu where is_deleted = 0
    </select>
</mapper>