<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.manager.mapper.SysRoleMenuMapper">

    <!-- List<Long> selectListById(Long roleId); -->
    <select id="selectListByRoleId" resultType="java.lang.Long">
        select menu_id from sys_role_menu where role_id = #{roleId} and is_deleted = 0 and is_half = 0
    </select>

    <!-- void updateIsHalfByMenuId(Long menuId); -->
    <update id="updateIsHalfByMenuId">
        update sys_role_menu set is_half = 1 where menu_id = #{menuId}
    </update>
</mapper>