<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.manager.mapper.SysRoleMapper">

    <!-- List<SysRole> selectList(); -->
    <select id="selectList" resultType="com.okccc.eshop.model.entity.system.SysRole">
        select * from sys_role where is_deleted = 0
    </select>

    <!-- List<SysRole> selectPage(SysRoleDto sysRoleDto); -->
    <select id="selectPage" resultType="com.okccc.eshop.model.entity.system.SysRole">
        select *
        from sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%',#{roleName},'%')
            </if>
            and is_deleted = 0
        </where>
    </select>

    <!-- void insert(SysRole sysRole); -->
    <insert id="insert">
        insert into sys_role (role_name,role_code,description) values (#{roleName}, #{roleCode}, #{description})
    </insert>

    <!-- void updateById(SysRole sysRole); -->
    <update id="updateById">
        update sys_role set
        <if test="roleName != null and roleName != ''">
            role_name = #{roleName},
        </if>
        <if test="roleCode != null and roleCode != ''">
            role_code = #{roleCode},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        update_time = now()
        where id = #{id}
    </update>

    <!-- void deleteById(Long id); -->
    <update id="deleteById">
        update sys_role set is_deleted = 1 where id = #{id}
    </update>
</mapper>