<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.manager.mapper.SysUserMapper">

    <!-- SysUser selectByUsername(String username); -->
    <select id="selectByUsername" resultType="com.okccc.eshop.model.entity.system.SysUser">
        select * from sys_user where username = #{username} and is_deleted = 0
    </select>

    <!-- Page<SysUser> selectPage(SysUserDto sysUserDto); -->
    <select id="selectPage" resultType="com.okccc.eshop.model.entity.system.SysUser">
        select *
        from sys_user
        <where>
            <!-- 传入实体类参数时要写实体类的属性名而不是数据库表的列名 -->
            <if test="keyword != null and keyword != ''">
                and username like concat('%',#{keyword},'%')
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                <!-- xml文件中的小于号要转义,不然报错：org.xml.sax.SAXParseException 元素内容必须由格式正确的字符数据或标记组成 -->
<!--                and create_time <= #{createTimeEnd}-->
                and create_time &lt;= #{createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
    </select>

    <!-- void insert(SysUser sysUser); -->
    <insert id="insert">
        insert into sys_user (username,password,name,phone,avatar,description,status) values
        (#{username}, #{password}, #{name}, #{phone}, #{avatar}, #{description}, #{status})
    </insert>

    <!-- void updateById(SysUser sysUser); -->
    <update id="updateById">
        update sys_user set
        <if test="username != null and username != ''">
            username = #{username},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="avatar != null and avatar != ''">
            avatar = #{avatar},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        <if test="status != null and status != ''">
            status = #{status},
        </if>
        <!-- update sys_user set username = ?, where id = ? -->
        <!-- update sys_user set username = ?, update_time = now() where id = ? -->
        <!-- 技巧：update语句手动添加update_time,防止有些字段为空,然后where前面出现","导致sql报错 -->
        update_time = now()
        where id = #{id}
    </update>

    <!-- void deleteById(Long id); -->
    <delete id="deleteById">
        update sys_user set is_deleted = 1 where id = #{id}
    </delete>
</mapper>