<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.manager.mapper.SysUserMapper">

    <!-- SysUser selectByUsername(String username); -->
    <select id="selectByUsername" resultType="com.okccc.eshop.model.entity.system.SysUser">
        select * from sys_user where username = #{username} and is_deleted = 0
    </select>
</mapper>