<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件负责写crud -->
<mapper namespace="com.okccc.eshop.manager.mapper.SysUserRoleMapper">

    <!-- List<Long> selectListByUserId(Long userId); -->
    <select id="selectListByUserId" resultType="java.lang.Long">
        select role_id from sys_user_role where user_id = #{userId}
    </select>

    <!-- void deleteByUserId(Long userId); -->
    <delete id="deleteByUserId">
        delete from sys_user_role where user_id = #{userId}
    </delete>

    <!-- void insert(@Param("userId") Long userId, @Param("roleId") Long roleId); -->
    <insert id="insert">
        insert into sys_user_role (user_id,role_id) values (#{userId}, #{roleId})
    </insert>

    <!-- void insertBatch(@Param("userId") Long userId, @Param("roleIdList") List<Long> roleIdList); -->
    <insert id="insertBatch">
        insert into sys_user_role (user_id,role_id) values
        <foreach collection="roleIdList" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>
</mapper>